# İşletim Sistemi Dosyaları
Thumbs.db
Desktop.ini
.DS_Store

# Editör/IDE
.vscode/
.idea/
*.swp
*.swo
*~

# SQL Server Geçici Dosyaları
*.bak
*.ldf
*.mdf
*.sqlsuo
*.suo

# SSMS Çıktıları
*.rpt
*.tmp

# Genel
*.log
.env
